

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 panel panel-default">

	<form action="/mailing-list" method="post">
		<p>
			<div class="btn btn-lg"><%= link_to 'User anzeigen',            controller: "rest_web_clients", action: "showUser"  %>
		</p><p>
<div class="btn btn-lg"><%= link_to "User registrieren",        controller: "rest_web_clients", action: "new"       %>
		</p><p>
<div class="btn btn-lg"><%= link_to 'User einloggen',           controller: "rest_web_clients", action: "login"     %>
	
	</form>

			

			</div><!-- //main content -->
		</div><!-- //row -->
	</div> <!-- //container -->

</body>
</html>


