
<table border="1">
<%= @output.each do |nameUser| %>

      <tr>
            <td><%= nameUser %></td>
      </tr>

  <% end %>
</table>

<br>
<h1><%= link_to 'Aktualisieren',            controller: "rest_web_clients", action: "showUser"  %>
 <br><br>
  <%= link_to 'Übersicht',            controller: "rest_web_clients", action: "index"  %></h1>