<%= form_for(@webclient) do |f| %>
  <% if @webclient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@webclient.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @webclient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
